<%- include('Partials/header') %>
<h1><%= message %></h1>
<h2>Status: <%= error.status || 500 %></h2>
<pre><%= error.stack || 'No additional details available.' %></pre>
<%- include('Partials/footer') %>
